cachetools
deep-translator
Django
django-tailwind
fastapi
gTTS
joblib
librosa
matplotlib
nltk
numpy
openai-whisper
pandas
Pillow
psutil
pydub
python-multipart
requests
scikit-learn
scipy
sentence-transformers
soundfile
torch
torchaudio
uvicorn[standard]
django_browser_reload
whitenoise
itsdangerous
faster-whisper
cachetools
django-simple-captcha
google-generativeai